.containerofall {
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.screen {
    border: 2px solid black;
    width: 50%;
    height: 50%;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    z-index: 20;

}

.bigbody {
    border: 2px solid black;
    width: 200rem;
    height: 200rem;
    display: grid;
    grid-template-areas: ". rightpart" "leftpart main";
    transform: rotate(45deg);
    position: absolute;
    overflow: hidden;
    margin-top: -30%;

    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.bigbody h2 {
    z-index: -1;
}
.rightContainer {
    grid-area: rightpart;
    border: 2px solid red;
    background-color: red;
    z-index: 10;

}
.leftContainer{
    grid-area: leftpart;
    border: 2px solid blue;
    z-index: 10;
    background-color: blue;
}

.mainContainer{
    grid-area: main;
    border: 2px solid orange;
    display: grid;
    /* grid-template-rows: ; */
    
}
.pyrContainer {
    transform: rotate(-45deg);
    display: flex;
    margin-top: -18%;
    
}