$color_library: rgb(238, 220, 64),rgb(175, 35, 35),rgb(47, 112, 233),rgb(201, 41, 153);
$border_color: rgb(225, 225, 228);
$primary_color : rgb(63, 236, 57);
$secondry_color: rgb(231, 76, 76);
$nav_padding: 1rem 1rem;
$secondary:rgb(240, 25, 193);
$rounded: 4px;